/*.sv-footer {
  display: none;
}

.sd-title.sd-container-modern__title {
  display: none !important;
}

.css-13xfq8m-MuiTabPanel-root {
  padding: 0px !important;
}

.css-h0q0iv-MuiButtonBase-root-MuiTab-root{
  min-height: 55px !important;
}

.css-1oodrto-MuiCardContent-root:last-child {
  padding-bottom: 16px;
}

.css-seqwlu {
  padding: 10px;
}*/

