.home {
    display: flex;
  
    .homeContainer {
      flex: 6;
  
      .widgets,
      .charts {
        display: flex;
        padding: 40px;
        padding-top: 50px;
        gap: 20px;
      }
  
      .charts {
        padding: 5px 20px;
      }
  
      .listContainer {
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        margin: 20px;
  
        .listTitle {
          font-weight: 500;
          color: gray;
          margin-bottom: 15px;
        }
      }
    }
  }

.homeContainer2 {

    .widgets,
    .charts {
      display: flex;
      padding: 40px;
      padding-top: 50px;
      gap: 20px;
    }
}

.listContainer {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
    margin: 13px;
    background-color: #fff;
    border-radius: 10px;

    .text-listTitle{
      vertical-align: middle;
      margin-left: 1%;
    }

    .listTitle {
      font-weight: 500;
      color: gray;
      margin-bottom: 15px;
      display: flex;
      align-items: center;
    }

    .listTitle1 {
      font-weight: 500;
      color: crimson;
      margin-bottom: 15px;
    }
    .listTitle2 {
      font-weight: 500;
      color: goldenrod;
      margin-bottom: 15px;
    }
    .listTitle3 {
      font-weight: 500;
      color: green;
      margin-bottom: 15px;
    }
  }

.icon {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  align-self: flex-end;
}
