<table bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" role="presentation"
  style="table-layout:fixed;vertical-align:top;min-width:320px;border-spacing:0;border-collapse:collapse;background-color:#ffffff;width:100%"
  valign="top" width="100%">
  <tbody>
    <tr style="vertical-align:top" valign="top">
      <td style="word-break:break-word;vertical-align:top" valign="top">

        <div style="background-color:#f6f8f8">
          <div
            style="min-width:320px;max-width:600px;word-wrap:break-word;word-break:break-word;Margin:0 auto;background-color:#ffffff">
            <div style="border-collapse:collapse;display:table;width:100%;background-color:#ffffff">

              <div style="min-width:320px;max-width:600px;display:table-cell;vertical-align:top;width:600px">
                <div style="width:100%!important">

                  <div
                    style="border-top:0px solid transparent;border-left:0px solid transparent;border-bottom:0px solid transparent;border-right:0px solid transparent;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px">

                    <div align="center" style="padding-right:0px;padding-left:0px"><br></div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>

        <div style="background-color:#f6f8f8">
          <div
            style="min-width:320px;max-width:600px;word-wrap:break-word;word-break:break-word;Margin:0 auto;background-color:#ffffff">
            <div style="border-collapse:collapse;display:table;width:100%;background-color:#ffffff">

              <div style="min-width:320px;max-width:600px;display:table-cell;vertical-align:top;width:600px">
                <div style="width:100%!important">

                  <div
                    style="border-top:0px solid transparent;border-left:0px solid transparent;border-bottom:0px solid transparent;border-right:0px solid transparent;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px">
                    <div style="text-align:center"><img src="cid:sigecee_blue@sigecee.app" alt="SIGECEE-Blue"
                        width="188" height="100" style="margin-right:0px">

                      <div align="center" style="padding-right:0px;padding-left:0px"><br></div>
                      <div align="center" style="padding-right:0px;padding-left:0px"><img src="cid:mural@sigecee.app"
                          alt="mural" width="589" height="363" style="margin-right:0px"><br></div>
                      <div
                        style="color:#555555;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif;line-height:1.5;padding-top:40px;padding-right:60px;padding-bottom:35px;padding-left:60px">
                        <div
                          style="line-height:1.5;font-size:12px;color:#555555;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif">
                          <p style="text-align:center;line-height:1.5;word-break:break-word;margin:0">
                            <span style="font-family: 'Montserrat', 'Roboto', Arial, sans-serif; font-size: 20px; color:#1976d2; padding: 20px 0 20px 0; font-weight: bold; text-shadow: 2px 2px #CBD2DA;">¡Hola!</span>
                          </p>
                          <p style="text-align:center;line-height:1.5;word-break:break-word;font-size:16px;margin:0">
                            <span style="font-size:16px"><strong><br></strong></span>
                          </p>

                          <p style="text-align:center;line-height:1.5;word-break:break-word;font-size:16px;margin:0">
                            <span style="font-size:16px">{{Message1}}</span>
                          </p>
                          <p style="text-align:center;line-height:1.5;word-break:break-word;font-size:16px;margin:0">
                            <span style="font-size:16px"><strong>&nbsp;{{Message2}}</strong></span>
                          </p>
                          <p style="text-align:center;line-height:1.5;word-break:break-word;font-size:16px;margin:0">
                            <span style="font-size:16px"><strong>&nbsp;{{Message3}}</strong></span>
                          </p>

                          <p style="text-align:center;line-height:1.5;word-break:break-word;margin:0">
                          </p>

                          <p style="text-align:center;line-height:1.5;word-break:break-word;font-size:16px;margin:0">
                            <span style="font-size:16px">{{Message4}}</span><br>
                            <br><a href="{{Link}}"
                              style="text-decoration:none;display:inline-block;color:#ffffff;background-color:#1976d2;border-radius:0px;width:auto;width:auto;border-top:1px solid #1976d2;border-right:1px solid #1976d2;border-bottom:1px solid #1976d2;border-left:1px solid #1976d2;padding-top:5px;padding-bottom:5px;font-family:'Lato',Tahoma,Verdana,Segoe,sans-serif;text-align:center;word-break:keep-all"
                              target="_blank"><span
                                style="padding-left:20px;padding-right:20px;font-size:16px;display:inline-block;letter-spacing:undefined"><span
                                  style="font-size:16px;line-height:2;word-break:break-word;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif"><strong>Acceder
                                    ahora</strong></span></span></a>
                          </p>
                        </div>
                      </div>


                      <div
                        style="color:#555555;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif;line-height:1.5;padding-top:0px;padding-right:60px;padding-bottom:20px;padding-left:60px">
                        <div
                          style="line-height:1.5;font-size:12px;color:#555555;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif">
                          <p style="text-align:center;line-height:1.5;word-break:break-word;margin:0">
                            {{Message5}}</p>
                        </div>

                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div style="background-color:#f6f8f8">
              <div
                style="min-width:320px;max-width:600px;word-wrap:break-word;word-break:break-word;Margin:0 auto;background-color:#100423">
                <div style="border-collapse:collapse;display:table;width:100%;background-color:#100423">

                  <div style="display:table-cell;vertical-align:middle;max-width:320px;min-width:150px;width:150px">
                    <div style="width:100%!important">

                      <div
                        style="border-top:0px solid transparent;border-left:0px solid transparent;border-bottom:0px solid transparent;border-right:0px solid transparent;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:40px">

                        <div>

                          <div
                            style="color:#ffffff;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif;line-height:1.5;padding-top:25px;padding-right:0px;padding-bottom:25px;padding-left:0px">
                            <div
                              style="line-height:1.5;font-size:12px;color:#ffffff;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif">
                              <p style="line-height:1.5;word-break:break-word;margin:0">
                                <img src="cid:sigecee_white@sigecee.app" alt="SIGECEE-white" width="103" height="56"
                                  style="margin-right:0px"><br>
                              </p>
                            </div>
                          </div>

                        </div>

                      </div>

                    </div>
                  </div>


                  <div style="display:table-cell;vertical-align:middle;max-width:320px;min-width:300px;width:300px">
                    <div style="width:100%!important">

                      <div
                        style="border-top:0px solid transparent;border-left:0px solid transparent;border-bottom:0px solid transparent;border-right:0px solid transparent;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;">

                        <div>

                          <div
                            style="color:#ffffff;font-family:'Lato',Tahoma,Verdana,Segoe,sans-serif;line-height:1.2;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px; text-align: center;">FACULTAD DE CIENCIAS
                            <div
                              style="font-size:12px;line-height:1.2;font-family:'Lato',Tahoma,Verdana,Segoe,sans-serif;color:#ffffff; text-align: center;">Universidad Central de Venezuela
                              <p
                                style="text-align:left;font-size:12px;line-height:1.2;word-break:break-word;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif;margin:0px; text-align: center;">Caracas, Venezuela.
                                <br>
                              </p>
                            </div>
                          </div>
                        </div>
                        <div>
                        </div>

                      </div>

                    </div>
                  </div>


                  <div style="display:table-cell;vertical-align:middle;max-width:320px;min-width:150px;width:150px">
                    <div style="width:100%!important">

                      <div
                        style="border-top:0px solid transparent;border-left:0px solid transparent;border-bottom:0px solid transparent;border-right:0px solid transparent;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:40px">

                        <div>

                          <div
                            style="color:#ffffff;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif;line-height:1.5;padding-top:25px;padding-right:0px;padding-bottom:25px;padding-left:0px">
                            <div
                              style="line-height:1.5;font-size:12px;color:#ffffff;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif">
                              <p style="line-height:1.5;word-break:break-word;margin:0">
                                <img src="cid:ciencias@sigecee.app" alt="CienciasUCV" width="56" height="56"
                                  style="margin-right:0px"><br>
                              </p>
                            </div>
                          </div>

                        </div>

                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
      </td>
    </tr>
  </tbody>
</table>